<script setup lang="ts">
import imageUrl from "../../src/assets/imgs/home.png";
</script>
<template>
  <div style="background-color: beige">
    <h1>Home Page</h1>
    <img :src="imageUrl" alt="home logo" width="100" height="100" />
  </div>
</template>
