<template>
    <template v-if="datumList && datumList.length > 0">
        <table id="invoices" class="table bg-light table-striped table-hover table-bordered">
            <thead>
                <tr>
                    <th>ven_tipimp</th>
                    <th>ven_gra05</th>
                    <th>ven_iva05</th>
                    <th>ven_disg05</th>
                    <th>cta_iva05</th>
                    <th>ven_rubgra</th>
                    <th>ven_rubg05</th>
                    <th>ven_disexe</th>
                    <th>ven_numero</th>
                    <th>ven_imputa</th>
                    <th>ven_sucurs</th>
                    <th>generar</th>
                    <th>form_pag</th>
                    <th>ven_centro</th>
                    <th>ven_clie</th>
                    <th>ven_cuenta</th>
                    <th>ven_clinom</th>
                    <th>ven_tipofa</th>
                    <th>ven_fecha</th>
                    <th>ven_totfac</th>
                    <th>ven_exenta</th>
                    <th>ven_gravad</th>
                    <th>ven_iva</th>
                    <th>ven_retenc</th>
                    <th>ven_aux</th>
                    <th>ven_ctrl</th>
                    <th>ven_con</th>
                    <th>ven_cuota</th>
                    <th>ven_fecven</th>
                    <th>cant_dias</th>
                    <th>origen</th>
                    <th>cambio</th>
                    <th>valor</th>
                    <th>moneda</th>
                    <th>exen_dolar</th>
                    <th>concepto</th>
                    <th>cta_iva</th>
                    <th>cta_caja</th>
                    <th>tkdesde</th>
                    <th>tkhasta</th>
                    <th>caja</th>
                    <th>ven_disgra</th>
                    <th>forma_devo</th>
                    <th>ven_cuense</th>
                    <th>anular</th>
                    <th>reproceso</th>
                    <th>cuenta_exe</th>
                    <th>usu_ide</th>
                    <th>rucvennrotim</th>
                    <th>clieasi</th>
                    <th>ventirptip</th>
                    <th>ventirpgra</th>
                    <th>ventirpexe</th>
                    <th>irpc</th>
                    <th>ivasimplificado</th>
                    <th>nroFacAso</th>
                    <th>TimFacAso</th>
                </tr>
            </thead>
            <tbody>
                <template v-for="datum in datumList" :key="datum.invoice.invoiceNumber">
                    <tr v-for="detail in datum.product">
                        <td class="ven_tipimp">I</td>
                        <td class="ven_gra05">0</td>
                        <td class="ven_iva05">0</td>
                        <td class="ven_disg05"></td>
                        <td class="cta_iva05">
                            {{ datum.contact?.tax05Account ?? detail.product?.tax05Account }}
                        </td>
                        <td class="ven_rubgra">1</td>
                        <td class="ven_rubg05">0</td>
                        <td class="ven_disexe"></td>
                        <td class="ven_numero" data-t="s">
                            {{ padNumbers(datum.invoice.agencyBillingCode, 3) }}-{{ padNumbers(datum.invoice.posaleBillingCode, 3) }}-{{ padNumbers(datum.invoice.invoiceNumber, 7) }}
                        </td>
                        <td class="ven_imputa">0</td>
                        <td class="ven_suc" data-t="s" :data-v="padNumbers(datum.invoice.agencyBillingCode, 2)">
                            {{ padNumbers(datum.invoice.agencyBillingCode, 2) }}
                        </td>
                        <td class="generar">0</td>
                        <td class="form_pag">
                            {{ datum.invoice.credit ? 'Credito' : 'Contado' }}
                        </td>
                        <td class="ven_centro">
                            {{ datum.contact?.saleCost ?? detail.product?.saleCost }}
                        </td>
                        <td class="ven_clie">
                            {{ datum.contact?.documentId ?? datum.invoice.docNumber }}
                        </td>
                        <td class="ven_cuenta">
                            {{ datum.contact?.saleAccount ?? detail.product?.saleAccount }}
                        </td>
                        <td class="ven_clinom">
                            {{ datum.contact?.name }} <button v-if="datum.contact" class="btn btn-sm p-0"
                                @click="contactCorrelationInfo(datum.contact)"><i class="bi bi-pencil"></i></button>
                        </td>
                        <td class="ven_tipofa">
                            Factura
                        </td>
                        <td class="ven_fecha text-end" 
                            :title="datum.invoice.created.toDateString()" 
                            :data-v="formatDate(datum.invoice.created)"
                            data-t="d"
                            data-z="yyyy-mm-dd hh:mm:ss"
                        >
                            {{ formatDate(datum.invoice.created) }}
                        </td>
                        <td class="ven_totfac text-end">
                            {{ datum.invoice.amount }}
                        </td>
                        <td class="ven_exenta text-end text-end">
                            0
                        </td>
                        <td class="ven_gravad text-end">
                            {{ datum.invoice.amount - datum.invoice.totalTaxAmount }}
                        </td>
                        <td class="ven_iva text-end">
                            {{ datum.invoice.totalTaxAmount }}
                        </td>
                        <td class="ven_retenc">
                            0
                        </td>
                        <td class="ven_aux">
                            0
                        </td>
                        <td class="ven_ctrl">
                            0
                        </td>
                        <td class="ven_con">
                            {{ detail.product.name }} <button class="btn btn-sm p-0"
                                @click="productCorrelationInfo(detail.product)"><i class="bi bi-pencil"></i></button>
                            &nbsp;<br> <span class="small text-muted">{{ detail.notes }}</span>
                        </td>
                        <td class="ven_cuota">
                            0
                        </td>
                        <td class="ven_fecven">
                            0
                        </td>
                        <td class="cant_dias">
                            0
                        </td>
                        <td class="origen">
                            LI
                        </td>
                        <td class="cambio text-end">
                            0
                        </td>
                        <td class="valor text-end">
                            0
                        </td>
                        <td class="moneda text-end">
                            {{ detail.product?.currency }}
                        </td>
                        <td class="exen_dolar text-end">
                            
                        </td>
                        <td class="concepto">
                            {{ detail.product.name }} <button class="btn btn-sm p-0"
                                @click="productCorrelationInfo(detail.product)"><i class="bi bi-pencil"></i></button>
                            &nbsp;<br> <span class="small text-muted">{{ detail.notes }}</span>
                        </td>
                        <td class="cta_iva text-end">
                            {{ datum.contact?.tax10Account ?? detail.product?.tax10Account }}
                        </td>
                        <td class="cta_caja text-end">
                            {{ datum.contact?.pointAccount ?? detail.product?.pointAccount }}
                        </td>
                        <td class="tkdesde text-end">
                            0
                        </td>
                        <td class="tkhasta text-end">
                            0
                        </td>
                        <td class="caja text-end">
                            0
                        </td>
                        <td class="ven_disgra text-end">
                            A
                        </td>
                        <td class="forma_devo text-end">
                            0
                        </td>
                        <td class="ven_cuense text-end">
                            0
                        </td>
                        <td class="anular text-end">
                            {{ datum.invoice.anullated ? '1' : '0' }}
                        </td>
                        <td class="reproceso text-end">
                            
                        </td>
                        <td class="cuenta_exe text-end">
                            {{ datum.contact?.tax00Account  ?? detail.product.tax00Account }}
                        </td>
                        <td class="usu_ide">
                            0
                        </td>
                        <td class="rucvennrotim text-end">
                            {{ datum.invoice.stampingCode }}
                        </td>
                        <td class="clieasi">
                            0
                        </td>
                        <td class="ventirptip">
                            0
                        </td>
                        <td class="ventirpgra">
                            0
                        </td>
                        <td class="ventirpexe">
                            0
                        </td>
                        <td class="irpc">
                            0
                        </td>
                        <td class="ivasimplificado">
                            0
                        </td>
                        <td class="nroFacAso">
                            
                        </td>
                        <td class="TimFacAso">
                            
                        </td>
                    </tr>

                </template>
            </tbody>
        </table>
        <button class="btn btn-success" @click="createXLSXFile()"> Generar Excel (xlsx)</button>
    </template>
    <div v-else class="alert alert-dark">
        No hay datos
    </div>

    <div class="modal" tabindex="-1" id="expert-correlation">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title text-dark">Correlacionar datos</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body text-dark">
                    <h4>{{ label }} <span class="small">#{{ id }}</span></h4>
                    <div class="row">
                        <div class="input-group mb-3" title="Cuenta Contable por importe Gravada 10%">
                            <label for="ven_cuenta" class="input-group-text">ven_cuenta</label>
                            <input class="form-control" type="text" v-model="_saleAccount">
                        </div>
                        <div class="input-group mb-3" title="Cuenta Contable por Importe Iva 10%">
                            <label for="ven_cuenta" class="input-group-text">cta_iva</label>
                            <input class="form-control" type="text" v-model="_tax10Account">
                        </div>
                        <div class="input-group mb-3" title="Cuenta Contable por Importe Iva 5%">
                            <label for="ven_cuenta" class="input-group-text">cta_iva05</label>
                            <input class="form-control" type="text" v-model="_tax05Account">
                        </div>
                        <div class="input-group mb-3" title="Cuenta Contable por Importe Exento">
                            <label for="cta_exe" class="input-group-text">cta_exe</label>
                            <input class="form-control" type="text" v-model="_tax00Account" id="cuenta_exe">
                        </div>
                        <div class="input-group mb-3"
                            title="Cuenta Contable por Importe del comprobante cuando es Contado/credito">
                            <label for="cta_caja" class="input-group-text">cta_caja</label>
                            <input class="form-control" type="text" v-model="_pointAccount" id="cta_caja">
                        </div>
                        <div class="input-group mb-3" title="Codigo Centro de Costo">
                            <label for="ven_centro" class="input-group-text">ven_centro</label>
                            <input class="form-control" type="text" v-model="_saleCost" id="ven_centro">
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <span class="text-dark me-auto">
                        {{ statusMessage }}
                    </span>
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal"
                        :disabled="loading">Cancelar</button>
                    <button type="button" class="btn btn-primary" @click="saveCorrelation()" :disabled="loading">Guardar
                        datos</button>
                </div>
            </div>
        </div>
    </div>
</template>
<script setup lang="ts">
import { ref, type PropType, onMounted } from 'vue';
import type { SalesDatum } from '../data/models/SaleDatum';
import { DateTime } from 'luxon';
import { Bims } from '../clients/Bims';
import { storeToRefs } from 'pinia';
import { useLoadingStore } from '../store/loading';
import { UiMessage } from '../data/models/UiMessage';
import { Modal } from 'bootstrap';
import { Product } from '../data/models/Product';
import { Contact } from '../data/models/Contact';

const modal = ref(null as Modal | null);

onMounted(() => {
    modal.value = new Modal(document.getElementById('expert-correlation') as Element ?? '#expert-correlation');
});

const { loading } = storeToRefs(useLoadingStore());

const label = ref("");
const id = ref("");
const statusMessage = ref("");
const product = ref(null as Product | null);
const contact = ref(null as Contact | null);
enum modelType {
    CONTACT = "contact",
    PRODUCT = "product",
};
const model = ref(null as modelType | null);

const _saleAccount = ref();
const _tax10Account = ref();
const _tax05Account = ref();
const _tax00Account = ref();
const _pointAccount = ref();
const _saleCost = ref();
const _currency = ref();

const props = defineProps({
    datumList: {
        type: Object as PropType<SalesDatum[]>,
        require: false,
    },
    tenant: {
        type: String,
        required: true,
    },
    sid: {
        type: String,
        required: true,
    },
});

async function createXLSXFile (): Promise<void> {
    try {
        const XLSX = await import('xlsx');
        if (!props.datumList) return;
        const table = document.getElementById('invoices');
        const workbook = XLSX.utils.table_to_book(table, {
            UTC: false,
        });
        const slug = `ventas-lasardenas-${padNumbers(props.datumList![0].invoice.invoiceNumber, 7)}-${padNumbers(props.datumList![props.datumList!.length - 1].invoice.invoiceNumber, 7)}`
        XLSX.writeFile(workbook, slug + '.xlsx');
    } catch (error: any) {
        throw Error('no se pudo usar el exportador');
    }
}

function padNumbers (value: number | string, offset = 0) {
    let valueString = Number(value).toString();
    while (valueString.length < offset) {
        valueString = '0' + valueString;
    }
    return valueString;
}

function formatDate (value: null | Date): string {
    if (!value) return '';
    return DateTime.fromJSDate(value).toFormat('yyyy-MM-dd hh:mm:ss');
}

function productCorrelationInfo (productToCorrelate: Product) {
    label.value = productToCorrelate.label;
    id.value = productToCorrelate.id;
    product.value = productToCorrelate;
    _saleAccount.value = productToCorrelate?.saleAccount;
    _tax10Account.value = productToCorrelate?.tax10Account;
    _tax05Account.value = productToCorrelate?.tax05Account;
    _tax00Account.value = productToCorrelate?.tax00Account;
    _pointAccount.value = productToCorrelate?.pointAccount;
    _currency.value = productToCorrelate?.currency;
    model.value = modelType.PRODUCT;
    modal.value?.show();
}


function contactCorrelationInfo (contactToCorrelate: Contact) {
    label.value = contactToCorrelate.label;
    id.value = contactToCorrelate.id;
    contact.value = contactToCorrelate;
    _saleAccount.value = contactToCorrelate?.saleAccount;
    _tax10Account.value = contactToCorrelate?.tax10Account;
    _tax05Account.value = contactToCorrelate?.tax05Account;
    _tax00Account.value = contactToCorrelate?.tax00Account;
    _pointAccount.value = contactToCorrelate?.pointAccount;
    _saleCost.value = contactToCorrelate?.saleCost;
    _currency.value = contactToCorrelate?.currency;

    model.value = modelType.CONTACT;
    modal.value?.show();
}

const saveCorrelationFnMap = new Map()
    .set(modelType.CONTACT, saveContactCorrelation)
    .set(modelType.PRODUCT, saveProductCorrelation)
    ;


function saveCorrelation () {
    if (!model.value) return;
    saveCorrelationFnMap.get(model.value)();
}


async function saveProductCorrelation () {

    try {
        loading.value = true;
        statusMessage.value = "Verificando datos..."

        if (!id.value) throw Error("No hay id");
        if (!product.value) throw Error("No hay producto");

        const bims = new Bims();
        const saved = await bims.saveProductCorrelation(props.sid, product.value, {
            saleAccount: _saleAccount.value ?? null,
            tax10Account: _tax10Account.value ?? null,
            tax05Account: _tax05Account.value ?? null,
            tax00Account: _tax00Account.value ?? null,
            pointAccount: _pointAccount.value ?? null,
            currency: _currency.value ?? null,
        });

        statusMessage.value = "Correlacionando..."

        if (saved) {
            statusMessage.value = "Correlacionado con éxito"
            const close = setInterval(() => {
                statusMessage.value = "";
                modal.value?.hide();
                clearInterval(close);
            }, 500);

        } else {
            throw Error(' No se pudo correlacionar');
        }

    } catch (error: any) {
        statusMessage.value = error?.message ?? "Error desconocido";
        console.error(error);
    } finally {
        loading.value = false;
    }
}


async function saveContactCorrelation () {

    try {
        loading.value = true;
        statusMessage.value = "Verificando datos..."

        if (!id.value) throw Error("No hay id");
        if (!contact.value) throw Error("No hay Contacto");

        const bims = new Bims();
        const saved = await bims.saveContactCorrelation(props.sid, contact.value, {
            saleAccount: _saleAccount.value ?? null,
            tax10Account: _tax10Account.value ?? null,
            tax05Account: _tax05Account.value ?? null,
            tax00Account: _tax00Account.value ?? null,
            pointAccount: _pointAccount.value ?? null,
            saleCost: _saleCost.value ?? null,
            currency: _currency.value ?? null,
        });

        statusMessage.value = "Correlacionando..."

        if (saved) {
            statusMessage.value = "Correlacionado con éxito"
            const close = setInterval(() => {
                statusMessage.value = "";
                modal.value?.hide();
                clearInterval(close);
            }, 500);

        } else {
            throw Error('No se pudo correlacionar');
        }


    } catch (error: any) {
        statusMessage.value = error?.message ?? "Error desconocido";
        console.error(error);
    } finally {
        loading.value = false;
    }

}

const emit = defineEmits<{
    alert: [message: UiMessage]
}>();


</script>

<style scoped>
table {
    display: block;
    width: 100%;
    overflow-x: auto;
}

td {
    white-space: nowrap;
}

td button {
    display: none;
}

td:hover button {
    display: inherit;
}</style>