<template>
	<div class="modal" tabindex="-1" :id="id">
			<div class="modal-dialog modal-lg modal-dialog-scrollable">
				<div class="modal-content">
				<div class="modal-header bg-secondary">
					<h5 class="modal-title">{{ title }}</h5>
					<button type="button" class="btn-close text-light" data-bs-dismiss="modal" aria-label="Close"></button>
				</div>
				<div class="modal-body">
					<slot></slot>
				</div>
			</div>
		</div>
	</div>
</template>
<script setup lang="ts">
import { Modal } from 'bootstrap';

const props = defineProps({
	title: {
		type: String,
		required: true,
	},
	id: {
		type: String,
		required: true,
	},
});

const modalEl = document.getElementById(props.id) as Element;
const modal = new Modal(modalEl);

function show(){
	modal.show();
}

function hide() {
	modal.hide();
}

defineExpose({
	show,
	hide,
})


</script>