<template>
		<div class="toast-container top-0 end-0 p-3">
			<div v-for="[id, message] in messages" :key="id" :id="id" class="toast show bg-dark" role="alert" aria-live="assertive"
				aria-atomic="true">
				<div class="toast-header bg-danger text-light">
					<strong class="me-auto">{{ message.title || 'Mensaje' }}</strong>
					<small class="text-muted">{{ timeRelative(message.time) }}</small>
					<button type="button" class="btn-close" aria-label="Cerrar" @click="removeToast(id)"></button>
				</div>
				<div class="toast-body">
					{{ message.message }}
				</div>
			</div>
		</div>
</template>
  
<script setup lang="ts">
import { ref, onMounted } from 'vue';
import { Toast } from 'bootstrap';
import type { UiMessage } from '../data/models/UiMessage';

defineExpose({
	newMessage: (message: UiMessage) => {
		const id = Math.random().toString(36).substring(7);
		messages.value.set(id, message);
	},
});

const messages = ref(new Map<string, UiMessage>());

const timeRelative = (time: any) => {
	return time ? time.toRelative() : 'ahora';
};

const removeToast = (id: string) => {
	messages.value.delete(id);
};


onMounted(() => {
	// Inicializa los toasts de Bootstrap 5
	const toastElements = document.querySelectorAll('.toast');
	toastElements.forEach((toast) => new Toast(toast).show());
});
</script>