<template>
	<svg xmlns:dc="http://purl.org/dc/elements/1.1/" xmlns:cc="http://creativecommons.org/ns#"
		xmlns:rdf="http://www.w3.org/1999/02/22-rdf-syntax-ns#" xmlns:svg="http://www.w3.org/2000/svg"
		xmlns="http://www.w3.org/2000/svg" xmlns:sodipodi="http://sodipodi.sourceforge.net/DTD/sodipodi-0.dtd"
		xmlns:inkscape="http://www.inkscape.org/namespaces/inkscape" version="1.1" id="Capa_1" x="0px" y="0px"
		viewBox="0 0 978.50757 194.85382" enable-background="new 0 0 612 792"
		xml:space="preserve" inkscape:version="0.48.2 r9819" sodipodi:docname="WALL-E logo.svg">
		<metadata id="metadata21">
			<rdf:RDF>
				<cc:Work rdf:about="">
					<dc:format>image/svg+xml</dc:format>
					<dc:type rdf:resource="http://purl.org/dc/dcmitype/StillImage" />
				</cc:Work>
			</rdf:RDF>
		</metadata>
		<defs id="defs19" />
		<sodipodi:namedview pagecolor="#ffffff" bordercolor="#666666" borderopacity="1" objecttolerance="10"
			gridtolerance="10" guidetolerance="10" inkscape:pageopacity="0" inkscape:pageshadow="2"
			inkscape:window-width="1600" inkscape:window-height="837" id="namedview17" showgrid="false" fit-margin-top="0"
			fit-margin-left="0" fit-margin-right="0" fit-margin-bottom="0" inkscape:zoom="1" inkscape:cx="343.99958"
			inkscape:cy="68.906011" inkscape:window-x="-8" inkscape:window-y="-8" inkscape:window-maximized="1"
			inkscape:current-layer="Capa_1" />
		<g id="g3" transform="matrix(1.4232672,0,0,1.4232672,54.084154,-466.83164)">
			<path clip-rule="evenodd" stroke-miterlimit="22.9256"
				d="M -37.879,431.939 H 65.044 c 10.608,0 19.288,-8.68 19.288,-19.287 V 359.125 H 59.868 v 53.311 H 35.789 V 359.125 H 11.325 v 53.311 h -24.079 v -53.311 h -25.139 v 53.527 l 0.014,19.287 0,0 z"
				id="path5" inkscape:connector-curvature="0"
				style="fill-rule:evenodd;stroke:#000000;fill:currentColor;stroke-width:0.21600001;stroke-miterlimit:22.92560005" />
			<path clip-rule="evenodd" stroke-miterlimit="22.9256"
				d="m 214.791,430.639 v -52.66 c 0,-10.608 -8.68,-19.287 -19.287,-19.287 h -61.545 c -10.608,0 -19.288,8.679 -19.288,19.287 v 52.66 h 26.656 v -21.232 h 48.325 v 21.232 h 25.139 l 0,0 z m -73.464,-36.672 h 48.325 v -18.749 h -48.325 v 18.749 l 0,0 z"
				id="path7" inkscape:connector-curvature="0"
				style="fill-rule:evenodd;stroke:#000000;fill:currentColor;stroke-width:0.21600001;stroke-miterlimit:22.92560005" />
			<polygon clip-rule="evenodd" stroke-miterlimit="22.9256"
				points="339.889,429.951 273.107,429.951 247.565,429.951 247.565,413.5 247.565,358.231 247.565,358.231 273.107,358.231 273.107,413.5 339.889,413.5 "
				id="polygon9"
				style="fill-rule:evenodd;stroke:#000000;fill:currentColor;stroke-width:0.21600001;stroke-miterlimit:22.92560005" />
			<polygon clip-rule="evenodd" stroke-miterlimit="22.9256"
				points="455.561,429.951 388.777,429.951 363.236,429.951 363.236,413.5 363.236,358.231 363.236,358.231 388.777,358.231 388.777,413.5 455.561,413.5 "
				id="polygon11"
				style="fill-rule:evenodd;stroke:#000000;fill:currentColor;stroke-width:0.21600001;stroke-miterlimit:22.92560005" />
			<path clip-rule="evenodd" stroke-miterlimit="22.9256"
				d="m 481.904,381.271 c 7.299,0 13.219,5.919 13.219,13.219 0,7.3 -5.92,13.218 -13.219,13.218 -7.301,0 -13.219,-5.918 -13.219,-13.218 10e-4,-7.299 5.919,-13.219 13.219,-13.219 l 0,0 z"
				id="path13" inkscape:connector-curvature="0"
				style="fill-rule:evenodd;fill:#000000;fill:currentColor;stroke-width:0.21600001;stroke-miterlimit:22.92560005" />
			<path clip-rule="evenodd"
				d="m 581.055,328 c 37.801,0 68.453,30.653 68.453,68.452 0,37.8 -30.652,68.454 -68.453,68.454 -37.799,0 -68.453,-30.654 -68.453,-68.454 0,-37.799 30.654,-68.452 68.453,-68.452 l 0,0 z m 45.183,31.948 h -76.266 c -10.609,0 -19.289,8.68 -19.289,19.287 v 31.032 c 0,10.607 8.682,19.287 19.289,19.287 h 76.266 V 412.85 h -70.215 v -11.479 h 64.754 v -14.726 h -64.754 v -11.478 h 70.215 v -15.219 l 0,0 z"
				id="path15" inkscape:connector-curvature="0" style="fill:#ed1c24;fill-rule:evenodd" />
		</g>
	</svg>
</template>