<template>
	<div v-if="!sid" class="form m-3" style="max-width: 25rem;">
		<p class="lead">Inicia sesión con las credenciales de BIMS</p>
		<label for="user" class="form-label">Usuario de BIMS</label>
		<input class="form-control mb-3" type="text" placeholder="" v-model="user" name="user">

		<label for="pass" class="form-label">Contraseña</label><br>
		<input class="form-control mb-3" type="password" v-model="password" name="password">

		<label for="tenant" class="form-label">Empresa</label><br>
		<input class="form-control mb-3" type="text" v-model="tenant" name="tenant">
		<button @click="submit()" class="btn btn-danger" :disabled="loading">Iniciar sesión</button>

	</div>
	<div v-else class="mb-3 p-3" >
		<div class="d-flex justify-content-between">
			<h3>Ahora selecciona el rango de fecha para cargar las facturas</h3>
			<div>
				<button class="btn btn-sm btn-danger rounded-pill" @click="closeSession()" > <i class="bi bi-x-lg"></i> </button>		
			</div>
		</div>
		<p><i>{{ sid }}</i></p>
		<div class="row">
			<div class="col-sm-6">
				<label for="base" class="form-label">Fecha de inicio</label>
				<input class="form-control" type="date" name="base" id="base" v-model="dateFrom"
					placeholder="Fecha de inicio">
				<i class="form-text">{{ dateFrom }}</i>
			</div>
			<div class="col-sm-6">
				<label for="limit" class="form-label">Fecha de fin</label>
				<input class="form-control" type="date" name="limit" id="base" v-model="dateTo"
					placeholder="Limite de fecha">
				<i class="form-text">{{ dateTo }}</i>
			</div>
		</div>
		<div class="mb-3 text-end">
			<button class="btn btn-success" @click="generateList()" :disabled="loading">Cargar facturas <i class="bi bi-arrow-return-left"></i></button>
		</div>
		<invoice-list :datum-list="invoiceList" :tenant="tenant" :sid="sid" />
	</div>
	<ui-message-vue ref="messageController" />
</template>
<script setup lang="ts">

import UiMessageVue from "../components/UiMessage.vue";
import InvoiceList from "../components/InvoiceList.vue";

import { Bims } from "../clients/Bims";
import { CacheStore } from "../helpers/CacheStore"
import { DateTime } from "luxon";
import type { SalesDatum } from "../data/models/SaleDatum";
import { useLoadingStore, setLoading } from "../store/loading";
import { ref } from "vue";
import { UiMessageController } from "../data/controllers/UiMessagesController";
import { storeToRefs } from "pinia";
import { Product } from "../data/models/Product";
import { type UiMessage } from "../data/models/UiMessage";


const messageController = ref(null as UiMessageController | null);
const getMessageContoller = () => messageController.value;

const { loading } = storeToRefs(useLoadingStore());

const user = ref("");
const password = ref("");
const tenant = ref("lasardenas");
const invoiceList = ref([] as SalesDatum[] | []);
const productMap = ref([] as Product[]);

const now = DateTime.now();

const sessionSlug = "bsid";

const dateFrom = ref(now.toFormat('yyyy-MM-dd'));
const dateTo = ref(now.toFormat('yyyy-MM-dd'));


const sessionCache = new CacheStore(sessionSlug, 50);
const sid = ref(sessionCache.getItem() as string);

const bims = new Bims();

function closeSession(): void {
	sessionCache.removeItem();
	sid.value = '';
}

async function getProducts(){
	setLoading(true);
	try {
		const products = await bims.getProducts(sid.value);
		productMap.value = products;
	} catch (error) {
		getMessageContoller()?.newMessage({
			title: "Error al leer productos",
			message: `${error}` ?? 'Algo salió mal'
		});
	} finally {
		setLoading(false);
	}
}

async function submit () {
	setLoading(true);

	try {

		if (!user.value) throw Error("Usuario es requerida");
		if (!password.value) throw Error("Contraseña es requerida");
		if (!tenant.value) throw Error("Empresa es requerida");

		const session = await bims.initSession(user.value, password.value, tenant.value);
		sid.value = session;
		sessionCache.setItem(session);


	} catch (error) {

		console.error(error);
		getMessageContoller()?.newMessage({
			title: "Error al iniciar sesión",
			message:`${error}` ?? 'Algo salió mal'
		});

	} finally {
		setLoading(false);
	}
}

async function generateList () {
	setLoading(true);
	try {

		const list = await bims.getInvoices(sid.value!, DateTime.fromFormat(dateFrom.value, 'yyyy-MM-dd').toJSDate(), DateTime.fromFormat(dateTo.value, 'yyyy-MM-dd').toJSDate());
		invoiceList.value = list;

	} catch (error: any) {
		console.error(error);
		getMessageContoller()?.newMessage({
			title: "Error al iniciar sesión",
			message: error.message ?? 'Algo salió mal'
		});
	} finally {
		setLoading(false);
	}
}

</script>
