

<template>
  <h2>Selecciona la herramienta</h2>
  <div class="list-group">
    <div class="list-group-item list-group-item-action p-3">
      <div class="d-flex w-100 justify-content-between">
        <h5 class="mb-1">Exportador de BIMS</h5>
        <small>ver.: 1.5</small>
      </div>
      <p class="mb-1">Exportar datos de BIMS para Expert en formato Excel (xlsx)</p>
      <router-link class="btn btn-info" to="bims-exporter">Ejecutar</router-link>
    </div>
    <div class="list-group-item list-group-item-action p-3">
      <div class="d-flex w-100 justify-content-between">
        <h5 class="mb-1">Reporte de LiveConnect</h5>
        <small>ver.: 1.0 <span class="text-muted" v-if="serverPort" >@{{ serverPort }}</span></small>
      </div>
      <p class="mb-1">Reportes de chats de LiveConnect</p>
      <router-link v-if="serverPort" class="btn btn-info" to="liveconnect-report">Ejecutar</router-link>
      <router-link v-else class="btn btn-default" to="liveconnect-report">No está disponible</router-link>
    </div>
  </div>
</template>
<script lang="ts" setup>
import { onMounted } from "vue";

import { useServerPathStore, setApiPort } from "../store/serverPath"
import { storeToRefs } from "pinia";

let apiUrlPath: null | string = null;
const queryString = window.location.search.substring(1);

if (queryString) {
  const { apiPath } = JSON.parse(decodeURIComponent(queryString));
  apiUrlPath = apiPath;
}

const { serverPath: serverPort } = storeToRefs(useServerPathStore());

onMounted(() => {
    if(apiUrlPath){
      setApiPort(apiUrlPath);
    }
})

</script>