<template>
	<div class="row">
		<div class="col" v-if="report">
			<div class="d-flex align-items-center justify-content-between mb-3">
				<div>
					<h3>Reporte</h3>
				</div>
				<div>
					<button class="btn btn-success me-3" @click="createXLSXFile()">Descargar</button>
					<button class="btn btn-info" @click="refresh()">Actualizar reporte</button>
					<button class="btn btn-danger" @click="goToHome()">Salir</button>
				</div>
			</div>
			<div>
				<table class="table table-sm table-bordered table-striped d-block" ref="reportTable" style="overflow: auto; max-height: 60dvh;">
					<thead>
						<tr>
							<th>Fecha</th>
							<th>Canal</th>
							<th>User</th>
							<th>Mensaje</th>
						</tr>
					</thead>
					<tbody>
						<tr v-for="message, ix in report" v-key="ix">
							<td class="text-nowrap" :title="message.dateTime" :data-v="toDate(message.dateTime)" data-t="d"
								data-z="yyyy-mm-dd hh:mm">
								{{ toDate(message.dateTime) }}
							</td>
							<td class="text-nowrap">{{ message.channel }}</td>
							<td class="text-nowrap">{{ message.name }}</td>
							<td class="text-nowrap">{{ message.prevText }}</td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>
		<div class="col-md-5" v-else>
			<h1>Liveconnect Report</h1>
			<h2>Login</h2>
			<div class="form">
				<p class="lead">Inicia sesión con las credenciales de LiveConnect</p>
				<label for="user" class="form-label">Usuario de Liveconnect</label>
				<input class="form-control mb-3" type="email" placeholder="" v-model="user" name="user"
					autocomplete="email">

				<label for="pass" class="form-label">Contraseña</label><br>
				<input class="form-control mb-3" type="password" v-model="password" name="password">
				<div class="d-flex justify-content-between">
					<button class="btn btn-danger" @click="goToHome()">Salir</button>
					<button @click="submit()" class="btn btn-success" :disabled="loading">Generar reporte</button>
				</div>
			</div>
		</div>
	</div>
</template>
<script setup lang="ts">
import { DateTime } from "luxon"
import { ref } from 'vue';
import { setLoading, useLoadingStore } from '../store/loading';
import { UiMessageController } from "../data/controllers/UiMessagesController";
import { Liveconnect } from "../clients/Liveconnect"
import { storeToRefs } from 'pinia';
import router from "../router";

const { loading } = storeToRefs(useLoadingStore());
const messageController = ref<UiMessageController | null>(null);
const reportTable = ref<HTMLTableElement | null>(null);
const getMessageContoller = () => messageController.value;
const report = ref<null | Array<{
	name: string;
	channel: string;
	dateTime: string;
	prevText: string;
}>>(null);

const user = ref("damian.deleon@acapuedo.com");
const password = ref("Damian.2023!");

function toDate(dateText: string | null): string {
	if (!dateText) return "";
	return DateTime.fromISO(dateText).toFormat("yyyy-MM-dd HH:mm");
}

function goToHome(){
	router.replace("/");
}

async function submit() {
	loading.value = true;

	try {

		if (!user.value) throw Error("Usuario es requerida");
		if (!password.value) throw Error("Contraseña es requerida");

		const client = Liveconnect.allocClientOrFail();

		report.value = await client.connect(user.value, password.value) ?? null;


	} catch (error) {

		console.error(error);
		getMessageContoller()?.newMessage({
			title: "Error al iniciar sesión",
			message: `${error}` ?? 'Algo salió mal'
		});

	} finally {
		setLoading(false);
	}
}

async function refresh() {
	setLoading(true);

	try {

		const client = Liveconnect.allocClientOrFail();

		const newReport = await client.refreshReport();
		
		if (newReport) {
			report.value = newReport;
		}

	} catch (error) {

		console.error(error);
		getMessageContoller()?.newMessage({
			title: "Error al iniciar sesión",
			message: `${error}` ?? 'Algo salió mal'
		});

	} finally {
		setLoading(false);
	}
}

async function createXLSXFile(): Promise<void> {
	try {
		const XLSX = await import('xlsx');
		const table = reportTable.value;
		if (!table) return;
		const workbook = XLSX.utils.table_to_book(table, {
			UTC: false,
		});
		const slug = `regitro-chats-activos - ${DateTime.now().toFormat('yyyy-MM-dd-hh-mm')}`;
		XLSX.writeFile(workbook, slug + '.xlsx');
	} catch (error: any) {
		throw Error('no se pudo usar el exportador');
	}
}
</script>
