<template>
  <div class="wallpaper" :style="{ backgroundImage: `url(${wallpaperPath})` }"></div>
  <div class="app-wrapper px-4">
    <div class="d-flex justify-content-between">
      <WalleLogo width="200px" class="mb-3" />
      <LoadingSpinner v-if="loading" />
    </div>
    <h2 class="lead">
      Wall-E recolecta los datos y los empaqueta para su uso
    </h2>
    <hr class="my-3">
    <router-view />
  </div>
</template>
<script setup lang="ts">
import LoadingSpinner from "./components/LoadingSpinner.vue"
import WalleLogo from "./components/WalleLogo.vue";
import wallpaperPath from './assets/imgs/wallpaper.png';
import { useLoadingStore } from "./store/loading";
import { storeToRefs } from "pinia";
const { loading } = storeToRefs(useLoadingStore());
</script>
<style>
#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #fff;
  background: rgba(59, 59, 59, 0.849);
  min-height: 100dvh;
  z-index: 1;
}

.wallpaper {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: fixed;
  background-color: black;
  width: 100%;
  height: 100dvh;
  z-index: -1;
}

.app-wrapper {
  width: 100%;
  max-width: 75rem;
  margin: auto;
  padding: 20px;
}
</style>
